!#include "/home/magdeoz/.termcolors/common"
#include "/home/magdeoz/.termcolors/blinker"

Xft.dpi:                        110
Xft.antialias:                  1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcddefault
xterm.Xft.rgba:                 none
URxvt.Xft.rgba:                 rgb

xterm*font:                     xft:TerminessTTF Nerd Font Mono:style=Bold:pixelsize=14:antialias=true:hinting=true
!xterm*font:                    xft:xos4 Terminess Powerline:style=Bold:pixelsize=14:antialias=true:hinting=true
!xterm.depth:                   32
XTerm*lineSpace:                0
XTerm.iso14755:                 false
*scaleHeight: 1.01
xterm*scaleHeight: 1.00
XTerm*borderWidth: 17
*internalBorder: 17

URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:TerminessTTF Nerd Font :style=Bold:pixelsize=16:antialias=true:hinting=true
URxvt.depth:                    32
URxvt*lineSpace:                0
*letterSpace:              		-1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-c:   perl:clipboard:copy
URxvt.keysym.Shift-Control-v:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)


*.cursorColor:  bblk
*background:	bg
*foreground:	fg
*color0:		blk
*color8:		bblk
*color1:		red
*color9:		bred
*color2:		grn
*color10:		bgrn
*color3:		ylw
*color11:		bylw
*color4:		blu
*color12:		bblu
*color5:		mag
*color13:		bmag
*color6:		cyn
*color14:		bcyn
*color7:		wht
*color15:		bwht
